volumes:
  prometheus_data:
    name: "prometheus_data"
    driver: local

services:
  prometheus:
    image: prom/prometheus:v3.1.0
    container_name: prometheus
    ports:
      - 9090:9090
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/etc/prometheus/data
    command: "--config.file=/etc/prometheus/prometheus.yml"
    
    restart: unless-stopped